# Base URL for API routes (with trailing slash)
NEXT_PUBLIC_BASE_URL=http://localhost:3000/

# URL for Stripe Checkout Success/Cancel Redirects (with trailing slash)
NEXT_PUBLIC_CHECKOUT_URL=http://localhost:3000/

# Stripe Secret Key (from the Stripe Dashboard)
STRIPE_SECRET=sk_test_your_stripe_secret_key_here